/* BASICS */

.App {
  max-width: 100%;
}

h5 {
  text-align: center;
}

p {
  font-size: 0.9em;
}

p:last-child {
  margin-bottom: 0;
}

/* HEADER */

.header {
  background-image: url('./images/mhdl_logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 2rem auto 0;
  width: 150px;
  height: 71px;
}

.magazine-title {
  font-style: italic;
}

.info-box {
  border-color: black;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  margin: 2rem;
  padding: 2rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
  .App {
    max-width: 70%;
    margin: auto;
  }
  /*p {
    font-size: 1em;
  }*/
}
